/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: lighten(#FF5733, 10%);
$background-color: lighten(blue, 48%);
$font-family: dynamic(arial); 
$Checkboxfield-checkbox-color:lighten(red, 10%);